:root{  
    --grid-rows: 1;
    --grid-columns: 1;

}
.etch{
    display: grid;
    grid-template-columns: repeat(2, 30%);
    width: 500px;
    margin:auto;

}
.buttons{
    padding: 1em;
    width: 100%;
    
}

#gridContainer{
    margin: auto;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    width: 500px;
    height: 500px;
    border-color: black;
    border-style: solid;
}

.grid-item {
    padding: 5%;
    border: 1px solid #ddd;

  }
